.skills{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 30px;
}
.row{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.box{
    display: flex;
    height: 150px;
    width: 200px;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background-color: #FAFAFA;
    padding: 30px;
    margin-left: 10px;
    border-radius: 5px;

}
.box-icon{
    font-size: 70px;
}

.htmlcolor{
    color: #E34C26;
}
.css{
    color: #264de4;
}
.js{
    color: #F0DB4F;
}
.github{
    color: #171515;
}
.vs{
    color: #0078d7;
}
.react{
    color: #61DBFB;
}
.java{
    color: #f89820;
}
.ag{
    color: #dd1b16;
}

