.nav{
    display: flex;
    height: 50px;
    width: 85%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    flex-direction: row;
    background-color: #fff;
    padding: 0px 10px 0px 0px;

}

.sidebar{
    display: flex;
    height: 100%;
    width:15%;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(103, 4, 4, 0.12);

}

.sidebar .logo{
    display:flex;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.sidebar .logo p{
    font-size: 18px;
    color: #157AFE;
    font-weight: bold;
}

.sidebar .logo p span{
    font-size: 18px;
    color: #0c0c0c;
    font-weight: bold;
}

.nav-link{
   display: flex;
   align-items: center;
   flex-direction: column;
}

.nav-link a{
    display: flex;
    width: 80%;
    padding: 10px;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
    margin-top: 20px;
    border-radius: 4px;

}


             
.nav-link .nav-icon{
   margin-right: 10px;
}

.nav-link a:hover{
    color: #157AFE;
    background-color: #E5E5E5;
   
}

.search{
    display: flex;
    width: 30%;
    height: 80%;
}

.user{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 5px 10px 5px 10px;
    background-color: #E5E5E5;
    border-radius: 4px;
}

.user p{
    font-size: 15px;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.88);
    font-weight: 700;
}