.about{
    display: flex;
    width: 100%;
    /* height: 90vh; */
    flex-direction: column;
    margin-bottom: 30px;
}

.about-header{
    display: flex;
    width: 100%;
    height: 70px;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
}
.about-section{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction:row;
}
.imagesection{
    display: flex;
    flex: 50%;
    align-items: center;
    justify-content: center;
}
.about-photo{
    width: 50%;
    height: 80%;
    border-radius: 5px;
}
.aboutsection{
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.aboutme-card{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.aboutme-box{
    display: flex;
    width: 180px;
    padding: 10px 10px 10px 10px;
    align-items: center;
    flex-direction: column;
    border: 1px solid #DDDDDD ;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 20px;
}
.aboutsection button{
    width: auto;
    padding: 10px;
    width: 150px;
    margin-top: 20px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    background-color: black
}
.about-img{
    border-radius: 5px;
}

@media screen and (max-width: 850px) {
    .imagesection{
        display: none;
    }
    .aboutsection{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .aboutme-card{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .aboutme-box{
        display: flex;
        width: 80%;
        padding: 10px 10px 10px 10px;
        align-items: center;
        flex-direction: column;
        border: 1px solid #DDDDDD ;
        border-radius: 5px;
        margin-top: 10px;
        margin-right: 20px;
    }
    .aboutsection p{
        text-align: center;
    }

}