.page{
    display: flex;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    flex-direction: row;
}
.page-titel{
    margin-left: 5px;
    margin-bottom: 10px;
}

.main-box{
    flex: 64%;

}

.side-box{
    flex: 35%;


}
.msg-side-box{
    flex: 35%;
    margin-top:33px;
    margin-left: 10px;


}
.stu-details{
    display: flex;
    height: 60px;
    margin-bottom: 10px;
    padding: 0px 5px 0px 5px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.88);
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
}
.stu-details p span{
    font-size: 16px;
    font-weight:bold
}

.table-fooder{
    display: flex;
    width: 100%;

    flex-direction: column;
}

.paymenthistory{
    margin-top: 34px;
    margin-left: 10px;
    background-color: #fff;
}

.normalcard{
    margin-top: 10px;
    margin-left: 10px;
    background-color: #fff;
}

.hi-list-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px 0px 5px;
}

.hi-list-header .titel{
    color: rgba(0, 0, 0, 0.88);
    font-size: 16px;
}
.viewall{
    color: rgb(26, 33, 252);
    font-size: 10px;
}

.pay-list-card{
    display: flex;
    flex-direction: row;
}
.table-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.tb-titel{
    font-size: 16px;
    color: #000;
}
.due-date{
    border-radius: 20px;
    font-size: 10px;
}

.total{
    font-size: 18px;
    font-weight: bold;
}
.pay-continer{
    margin-top: 25px;
}
/* login */
.custom-input{
    background-color: #f5f5f5;
    padding: 12px 10px;
    margin: 8px 0;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #d4d5d5;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline:none ;
  }
  .custom-input-error{
    background-color: #f5f5f5;
    padding: 12px 10px;
    margin: 8px 0;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ed2d2d;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline:none ;
  }
  .custom-input:focus{
    border: 2px solid #157AFE;
  
  }
  .custom-input-error:focus{
    border: 2px solid #ed2d2d;
  
  }
  
  .custom-button{
    background-color:#157AFE;
    padding: 12px 20px;
    width: 100%;
    margin: 8px 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: none;
  
  }
  .formerror{
    display: flex;
    width: 100%;
    align-items: flex-start;
    font-size: small;
    color: #ed2d2d;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .card-titel{
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 20px;
    color: #000;
  }
  .forgetpassword{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: #838485;
  }
  .Remamber{
    display: flex;
    width: 100%;
    align-items: flex-start;
    font-size: small;
    accent-color: #157AFE;
  
  }
  .Remamber input{
    margin-top: 4px;
    margin-right: 4px;
  }
  .icons{
    font-size: 20px;
    padding: 10px;
  }
  
  .googel{
    color: #ea4335;
  }
  .facebook{
    color: #3b5998;
  }
  .apple{
    color:#000000
  }
  .login{
    display: flex;
    height: 100vh;
   
    align-items: center;
    justify-content: center;
    background-size: cover;

    background-image:url('../img/logbg.png');
  }
  
  .login-card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 40%;
    /* height: 70%; */
    border-radius: 5px;
    padding: 30px 10px 30px 10px;
  }
  .login-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #157AFE;
  }
  .login-logo h1 span{
    color: #000;
  }

  .par{
    display: flex;
    flex-direction: row;
  }

  .exam-p{
    display: flex;
    width: 60%;
    height: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .exam-o{
    display: flex;
    width: 40%;
    height: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
  .tb-titel span{
    margin-left: 10px;
    font-size: 13px;
    color:rgba(0, 0, 0, 0.45);
  }

  .titel span{
    margin-left: 10px;
    font-size: 13px;
    color:#fff;border-radius: 4px;
    padding: 2px;
    background-color: #ff0000;
  }

  .today-tag{
    margin-left: 10px;
    font-size: 13px;
    color:#fff;border-radius: 4px;
    padding: 2px;
    background-color: #5100ff !important;
  }
  .tab-list-continer{
    padding: 5px;
  }

  .msg-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px 10px 0px;
  }
  .avt{
    display: flex;
    width: 4%;
    background-color: #3b5998;
  }

  .msg-list-titel{
    margin-left: 5px;
    width: 76%;
    align-items: center;
    color: #157AFE;
    font-size: 16px;
  
  }
  .msg-list-data{
    text-align: end;
    width: 20%;
    font-size: 10px;
  }

  .msg-list-titel span{
    font-weight: normal;
    margin-left: 6px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
  }
  
  .contact-items{
    display: flex;
   flex: 100%;
   flex-direction: column;
   align-items: center;
   background-color: #fff;
}

.contactfrom{
    display: flex;
    width: 90%;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactfrom button{
    border: none;
    width: auto;
    padding: 10px;
    margin-top: 20px;
    color: #fff;
    border-radius: 5px;
    background-color:  #1677ff
}


.event-card{
  margin-top: 10px;
  margin-left: 10px;
  background-color: #fff;
}

.event-card .header{
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #eceded;
}

.e-icon{
  color: #157AFE;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.ev-date{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
}

.ev-arrow{
  color: #838485;
}

.ev-date p span{
  margin-left: 5px;
  padding: 0px 2px 0px 4px;
  color: #fff;
  border-radius: 10px;
  background-color: #157AFE;
}

.event-list-card{
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.event-list-card .icon{
  margin-top: 3px;
  color: #157AFE;
}

.event-list-card h4{
  border-bottom: 0.5px solid #157AFE;
}

.event-list-card p{
  font-size: 13px;
  color: #838485;
}

.h-day{
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
  margin-right: 10px;
}

.exam-tb{
  margin-top: 10px;
  margin-left: 10px;
}


  
