*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: 'DM Sans', sans-serif;
}
html{
  scroll-behavior: smooth;
}
.App {
  display: flex;
  flex-direction: column;
}
